<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
  <% include _menu %>

  <table border="1">
    <tbody>
      <tr>
        <th class="cl-time" style="width: 100px;">&nbsp;</th>

        <th class="cl-day">
          2019-08-10
          <span class="sm-block">(土)</span>
        </th>

        <th class="cl-day">
          2019-08-11
          <span class="sm-block">(日)</span>
        </th>

        <th class="cl-day">
          2019-08-12
          <span class="sm-block">(月)</span>
        </th>

        <th class="cl-day">
          2019-08-13
          <span class="sm-block">(火)</span>
        </th>

        <th class="cl-day">
          2019-08-14
          <span class="sm-block">(水)</span>
        </th>

        <th class="cl-day">
          2019-08-15
          <span class="sm-block">(木)</span>
        </th>

        <th class="cl-day">
          2019-08-16
          <span class="sm-block">(金)</span>
        </th>

      </tr>
    </tbody>
  </table>
  <table border="1">

    <tbody>
      <tr>
        <td style="width: 100px;"><span class="time_cell_txt_cls">10:00</span></td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-10&time=10:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-11&time=10:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              ▲
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-13&time=10:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-14&time=10:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-15&time=10:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-16&time=10:00">●</a>
            </div>
          </div>
        </td>

      </tr>

      <tr>
        <td class="cl-time time_cell_cls"><span class="time_cell_txt_cls">11:00</span></td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              ▲
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              ▲
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-12&time=11:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-13&time=11:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-14&time=11:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-15&time=11:00">●</a>
            </div>
          </div>
        </td>

        <td class="cl-day">
          <div class="cl-half-time">
            <div class="cl-day-content">
              <a href="/reserve2?date=2019-08-16&time=11:00">●</a>
            </div>
          </div>
        </td>

      </tr>

    </tbody>
  </table>
</body>

</html>
